In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None

In [2]:
df = pd.read_csv("/project/wolk/ADNI2018/analysis_input/Jul2024_downloads_csv_lists/20240805_old_missed_8_05_2024.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Image Data ID  131 non-null    object
 1   Subject        131 non-null    object
 2   Group          131 non-null    object
 3   Sex            131 non-null    object
 4   Age            131 non-null    int64
 5   Visit          131 non-null    object
 6   Modality       131 non-null    object
 7   Description    131 non-null    object
 8   Type           131 non-null    object
 9   Acq Date       131 non-null    object
 10  Format         131 non-null    object
 11  Downloaded     131 non-null    object
dtypes: int64(1), object(11)
memory usage: 12.4+ KB

In [3]:
# M/D/YY to YYYY-MM-DD
def slash_to_dash(df,datecolname):
    for index, row in df.iterrows():
        MDYlist=row[datecolname].split('/')
        
        if len(MDYlist[0]) == 1:
            month = "0" + MDYlist[0]
        else:
            month = MDYlist[0]

        if  len(MDYlist[1]) == 1:
            day = "0" + MDYlist[1]
        else:
            day=MDYlist[1]

        year = MDYlist[2]

        newdate=year + "-" + month + "-" + day
        df.at[index,datecolname]=newdate
    return df

In [4]:
def reformat_dfs(df):
    df_names = df.rename(columns={'Subject':'ID','Visit':"VISCODE",'Acq Date':'SMARTDATE',
    'Image Data ID':'IMAGEUID'})
    df_dates = slash_to_dash(df_names,'SMARTDATE')
    df_dates['RID'] = df_dates['ID'].str.rsplit('_',n=1).str[-1].astype(int)
    df_dates['IMAGEUID'] = df_dates['IMAGEUID'].str[1:].astype(float)
    df_sm = df_dates[['RID','ID','SMARTDATE','VISCODE','IMAGEUID','Description']]
    return df_sm

In [5]:
df_format = reformat_dfs(df)
df_format.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   RID          131 non-null    int64
 1   ID           131 non-null    object
 2   SMARTDATE    131 non-null    object
 3   VISCODE      131 non-null    object
 4   IMAGEUID     131 non-null    float64
 5   Description  131 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.3+ KB

In [6]:
df_format.head()

,RID,ID,SMARTDATE,VISCODE,IMAGEUID,Description
0,6268,003_S_6268,2022-08-24,y4,1618420.0,HighResHippocampus
1,6268,003_S_6268,2022-08-24,y4,1618413.0,Accelerated Sagittal MPRAGE
2,2394,007_S_2394,2022-08-23,y5,10280296.0,Sagittal 3D FLAIR
3,2394,007_S_2394,2022-08-23,y5,10280283.0,HighResHippocampus
4,2394,007_S_2394,2022-08-23,y5,10280297.0,Accelerated Sagittal MPRAGE

In [7]:
df_format['IMAGEUID'] = df_format['IMAGEUID'].astype(object)
df_format.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   RID          131 non-null    int64
 1   ID           131 non-null    object
 2   SMARTDATE    131 non-null    object
 3   VISCODE      131 non-null    object
 4   IMAGEUID     131 non-null    object
 5   Description  131 non-null    object
dtypes: int64(1), object(5)
memory usage: 6.3+ KB

In [11]:
# df["depart"] = df.apply(lambda row: row.date if row.boat else row.date + 1, axis=1)
df_format['IMAGEUID_T1'] = df_format.apply(lambda row: row.IMAGEUID if "MPRAGE" in row.Description else None)

AttributeError: 'Series' object has no attribute 'Description'

In [13]:
# df_format.groupby('ID').agg({'IMAGEUID':'|'.join,'Description':'|'.join})
# df_ = df.groupby('Order_Number').agg({'INVENTORY CODE':'|'.join,'description':'|'.join}).reset_index()
#

In [19]:
subjects=df_format['ID'].unique()

In [20]:
for subject in subjects: 
    match=df_format.loc[df_format['ID'] == subject]
    # print(len(match))

2
3
3
3
3
3
3
3
3
3
3
4
3
3
3
3
4
3
2
2
2
2
2
3
2
3
3
3
3
2
2
2
3
2
3
4
3
3
2
2
4
2
2
2
2
2
2
4
1